.login_btn {
    margin-top: 13px;
}

.login_btn:hover {
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
    border-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}