.icon-action {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #d9cdcd;
}

.icon-action .cursor-pt {
    cursor: pointer;
}

.card-group .card.cardBottomSpace {
    margin-bottom: 0.75 rem;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.outer__pagination {
    padding-top: 20px;
}

.sort__header {
    margin: 10px 2px;
    padding: 10px 2px;
    border: 1px solid #ccc;
}